*{
    box-sizing: border-box;
}
body{
    background-color: #E5E5E5;
    min-height: 100vh;
}
.titulo{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.carta-verso{
    width: 117px;
    height: 146px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.carta-verso img{
    width: 100px;
}
.carta{
    margin-left: 20px;
    display: flex;
}
ul{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}
.escondido{
    display: none;
}
.imagem-frente{
    width: 117px;
    height: 146px;
    background: blue;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}