*{
    box-sizing: border-box;
}
body{
    background-color: #E5E5E5;
    min-height: 100vh;
}

.titulo{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

ul{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.carta{
    width: 117px;
    height: 146px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    position: relative;
}

.verso{
    width: 100%;
    height: 100%;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all 0.5s;
}

img{
    width: 100%;
}

.frente{
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all 0.1s;
}


.escondido{
    opacity: 0;
    transform:rotatey(180deg);
}

.virada{
    transform:rotatey(180deg);
}

@media (max-width:600px){
    .titulo{
        font-size: 36px;
    }
}